html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.pos-static {
  position: static; }

.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.pos-sticky {
  position: sticky; }

.pos-fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.dp-block {
  display: block; }

.dp-inline {
  display: inline; }

.dp-inline-block {
  display: inline-block; }

.dp-flex {
  display: flex; }

.dp-inline-flex {
  display: inline-flex; }

.dp-grid {
  display: grid; }

.dp-none {
  display: none; }

.visibility-hidden {
  visibility: hidden; }

.visibility-visible {
  visibility: visible; }

.visibility-collapse {
  visibility: collapse; }

.fd-row {
  flex-direction: row; }

.fd-row-reverse {
  flex-direction: row-reverse; }

.fd-column {
  flex-direction: column; }

.fd-column-reverse {
  flex-direction: column-reverse; }

.fd-initial {
  flex-direction: initial; }

.fd-inherit {
  flex-direction: inherit; }

.fd-unset {
  flex-direction: unset; }

.fw-wrap {
  flex-wrap: wrap; }

.fw-wrap-reverse {
  flex-wrap: wrap-reverse; }

.fw-nowrap {
  flex-wrap: nowrap; }

.fw-initial {
  flex-wrap: initial; }

.fw-inherit {
  flex-wrap: inherit; }

.fw-unset {
  flex-wrap: unset; }

.jc-flex-start {
  justify-content: flex-start; }

.jc-flex-end {
  justify-content: flex-end; }

.jc-center {
  justify-content: center; }

.jc-space-between {
  justify-content: space-between; }

.jc-space-around {
  justify-content: space-around; }

.jc-space-evenly {
  justify-content: space-evenly; }

.ai-flex-start {
  align-items: flex-start; }

.ai-flex-end {
  align-items: flex-end; }

.ai-center {
  align-items: center; }

.ai-stretch {
  align-items: stretch; }

.ai-baseline {
  align-items: baseline; }

.ac-flex-start {
  align-content: flex-start; }

.ac-flex-end {
  align-content: flex-end; }

.ac-center {
  align-content: center; }

.ac-stretch {
  align-content: stretch; }

.ac-space-between {
  align-content: space-between; }

.ac-space-around {
  align-content: space-around; }

.ac-space-evenly {
  align-content: space-evenly; }

.as-flex-start {
  align-self: flex-start; }

.as-flex-end {
  align-self: flex-end; }

.as-center {
  align-self: center; }

.as-stretch {
  align-self: stretch; }

.as-space-between {
  align-self: space-between; }

.as-space-around {
  align-self: space-around; }

.as-space-evenly {
  align-self: space-evenly; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.flex-grow-0 {
  flex-grow: 0; }

.flex-grow-1 {
  flex-grow: 1; }

.flex-grow-2 {
  flex-grow: 2; }

.flex-grow-3 {
  flex-grow: 3; }

.flex-grow-4 {
  flex-grow: 4; }

.flex-grow-5 {
  flex-grow: 5; }

.flex-grow-6 {
  flex-grow: 6; }

.flex-grow-7 {
  flex-grow: 7; }

.flex-grow-8 {
  flex-grow: 8; }

.flex-grow-9 {
  flex-grow: 9; }

.flex-grow-10 {
  flex-grow: 10; }

.flex-grow-11 {
  flex-grow: 11; }

.flex-grow-12 {
  flex-grow: 12; }

.flex-shrink-0 {
  flex-shrink: 0; }

.flex-shrink-1 {
  flex-shrink: 1; }

.flex-shrink-2 {
  flex-shrink: 2; }

.flex-shrink-3 {
  flex-shrink: 3; }

.flex-shrink-4 {
  flex-shrink: 4; }

.flex-shrink-5 {
  flex-shrink: 5; }

.flex-shrink-6 {
  flex-shrink: 6; }

.flex-shrink-7 {
  flex-shrink: 7; }

.flex-shrink-8 {
  flex-shrink: 8; }

.flex-shrink-9 {
  flex-shrink: 9; }

.flex-shrink-10 {
  flex-shrink: 10; }

.flex-shrink-11 {
  flex-shrink: 11; }

.flex-shrink-12 {
  flex-shrink: 12; }

.flex-basis-auto {
  flex-basis: auto; }

.flex-basis-0 {
  flex-basis: 0; }

.flex-basis-fill {
  flex-basis: fill; }

.flex-basis-max-content {
  flex-basis: max-content; }

.flex-basis-min-content {
  flex-basis: min-content; }

.flex-basis-fit-content {
  flex-basis: fit-content; }

.flex-basis-content {
  flex-basis: content; }

.flex-basis-inherit {
  flex-basis: inherit; }

.flex-basis-initial {
  flex-basis: initial; }

.flex-basis-unset {
  flex-basis: unset; }

.flex-1 {
  flex: 1; }

.nav-list {
  display: flex;
  list-style: none; }

.nav-list-link {
  text-decoration: none; }

.list-style-none {
  list-style: none; }

.text-decoration-none {
  text-decoration: none; }

/*
Start watching for compiling scss to css
sass --watch main.scss:main.css
*/
/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/

/*# sourceMappingURL=main.css.map */
